{% include 'header.html' %}
<!-- {% load staticfiles %} -->
<nav class="navbar navbar-static-top">
    <!-- <div class='container text-center'> -->
      <a href='https://www.tamu.edu/'>
        <img src="{% static 'tamu_icon.png' %}" height="80"/>
      </a>
    <!-- </div> -->
    </nav>
<div class='container text-center'>
	<h3> Student List: </h3>
</div>
<div class='container text-center'>
	<table class = 'table-bordered table-hover'>
		<thead>
			<tr>
				<th>Name:</th>
			</th>
		<tbody>
			{% for student in student_list %}
			<tr>		
				<td>{{student.name}}</td>
				<!-- looping... -->
				<!-- looping -->
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
	



{% include 'footer.html' %}